{
  "extends": ["react-app", "prettier"],
  "plugins": ["react", "prettier"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "printWidth": 100,
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "all",
        "semi": false,
        "endOfLine": "auto"
      }
    ],
    "no-console": "warn",
    "no-var": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-non-null-assertion": "warn"
  }
}
