@import '../../styles/globals.scss';

$btnShadow-color: 0px 4px 10px rgba(16, 156, 241, 0.24);

@mixin initValue($color, $bg-color, $border-color) {
  background-color: $bg-color;
  color: $color;
  font-size: 1.4rem;
  @if ($border-color) {
    border: 1px solid $border-color;
  }
}

@mixin hover-visited($color, $bg-color, $border-color, $shadow-color: none) {
  color: $color;
  background-color: $bg-color;
  box-shadow: $shadow-color;
  @if ($border-color) {
    border-color: $border-color;
  }
}

@mixin active($color, $bg-color, $border-color, $shadow-color) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;
  box-shadow: $shadow-color;
}

@mixin disabled($color, $bg-color, $border-color, $shadow-color: none) {
  color: $color;
  background-color: $bg-color;
  border-color: $border-color;
  box-shadow: $shadow-color;
}

@mixin btnBase(
  $normal-color,
  $normal-bg-color,
  $normal-border-color,

  $hover-color,
  $hover-bg-color,
  $hover-border-color,

  $active-color,
  $active-bg-color,
  $active-border-color,
  $active-shadow-color,
  
  $disabled-bg-color,
  $disabled-border-color,
  $disabled-color
) {
  @content;
  @include initValue($normal-color, $normal-bg-color, $normal-border-color);

  &:hover,
  &:visited {
    @include hover-visited($hover-color, $hover-bg-color, $hover-border-color);
  }

  &:active {
    @include active(
      $active-color,
      $active-bg-color,
      $active-border-color,
      $active-shadow-color
    );
  }

  &:disabled {
    @include disabled(
      $disabled-color,
      $disabled-bg-color,
      $disabled-border-color
    );
  }
}

.BaseButton {
  height: 44px;
  border-radius: 4px;
  text-transform: capitalize !important;
  outline: none !important;
}

.PrimaryButton {
  @include btnBase(
    $white,
    $primary,
    null,
    $white,
    $light_blue,
    null,
    $white,
    $dark_blue,
    null,
    $btnShadow-color,
    $black_20,
    $black_20,
    $white
  );
  box-shadow: $btnShadow-color;
  &:hover {
    box-shadow: $btnShadow-color;
  }
}

.GhostButton {
  @include btnBase(
    $primary,
    $white,
    $primary,
    $light_blue,
    $white,
    $light_blue,
    $dark_blue,
    $white,
    $dark_blue,
    $white,
    $white,
    $black_20,
    $black_20
  );
}

.TextButton {
  @include btnBase(
    $primary,
    $white,
    $white,
    $light_blue,
    $white,
    $white,
    $dark_blue,
    $white,
    null,
    $white,
    $white,
    $white,
    $primary
  );
}