// blue
$dark_blue: #098edf;
$light_blue: #34aff9;
$background_blue: #ecf8fe;

// yellow
$dark_yellow: #e8a840;
$default_yellow: #ffb846;
$background_yellow: #fff7ed;

// red
$dark_red: #de5d52;
$default_red: #f7685b;
$background_red: #ffeded;

// green
$dark_green: #28ba6b;
$default_green: #2ed47a;
$background_green: #ebfdf2;

// purple
$purple: #885af8;

//primary
$primary: #468cf2;
$primary_dark: #0761f7;
$primary_light: #6a9ff7;

// gradient 1
$gradient_1: linear-gradient(90deg, #3667b2 0%, #30c0d1 100.04%);

// gradient 2
$gradient_2: linear-gradient(90deg, #1f4075 0.01%, #0083ae 100.06%);

// black
$black_100: #192a3e;
$black_80: #323c47;
$black_60: #707683;
$black_40: #90a0b7;
$black_20: #c2cfe0;
$black_10: #e3edfa;

// white
$white: #ffffff;

// dark blue text
$dark_blue_text: #334d6e;
$green_text: #36eba5;
