@import './color';
@import './typography';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}
